* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color : white;
}

body {
    background: url(image/bg1.jpg) fixed; 
    background-size: cover;
    background-position: center;
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background:rgb(0,0,0,0.15); 
    backdrop-filter: blur(15px);
}

.main-container {
    width : 300px;
    height : 500px;
    z-index: 1;
    background: linear-gradient(
        to top, rgb(0,0,0,0.15),
        rgb(255,255,255,0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
}

/* input container */
.input_container {
    position: relative;
}

.city_input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(255,255,255,0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}

.city_input:focus {
    border: 3px solid rgb(255,255,255,0.15);
}

.city_input::placeholder {
    color: rgb(255,255,255,0.75);
}

.search_btn {
    position: absolute;
    right: 38px;
    top: 7.9%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}



/* end input container */
